.topBar {
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: #ba68ca;
  color: white;
  padding: 0px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1rem rgba($color: #ba68ca, $alpha: 0.1);
  .left {
    & > * {
      font-size: 1.6rem;
      font-weight: 500;
      text-decoration: none;
      color: #fff;
    }
  }
  .main {
    a {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      background-color: var(--orenge);
      font-size: 1.5rem;
      font-weight: 500;
      padding: 0.4rem 0.6rem;
      border-radius: 0.4rem;
      box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;
    & > * {
      font-size: 1.5rem;
      font-weight: 500;
      text-decoration: none;
      color: #fff;
    }
  }
}
