.marksheet {
  width: 100%;
  position: fixed;
  padding-bottom: 2rem;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f2f3f4;
  overflow: scroll;
  align-items: center;
  height: 100%;
  .scroll {
    width: 100%;
    overflow: scroll;
  }
  .buttons {
    width: 90%;
    max-width: 500px;
    margin: 1.5rem auto;
    padding: 0.5rem 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: fit-content;
      padding: 0.5rem 0.8rem;
      border: var(--border);
      color: white;
      border-radius: 0.5rem;
      background: rgb(241, 82, 38);
      margin: 0;
    }
  }
}

#pdfDownload {
  width: 595px;
  height: 841px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  border-radius: 1rem;
  align-items: center;
  box-shadow: 0 0 5px rgb(218, 214, 214);

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;

    .schoolName {
      font-size: 2.3rem;
      font-weight: 700;

      color: var(--black);
    }
    .examName {
      font-size: 1.7rem;
      color: var(--black);
      margin-top: 0.4rem;
    }
  }
  .middle {
    width: 35rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding-left: 5rem;

    & > * {
      margin-bottom: 0.5rem;

      .head {
        font-size: 1.6rem;
        color: var(--black);
        font-weight: 600;
      }
      .value {
        font-size: 1.5rem;
        padding-bottom: 0;
        margin-left: 0.4rem;
        color: var(--black);
        border-bottom: 1.5px dotted var(--black);
      }
    }
  }

  // @media screen and (max-width: 520px) {
  //   .middle {
  //     padding-left: 2rem;
  //     grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  //   }
  // }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading {
      font-size: 1.9rem;
      color: var(--black);
      font-weight: 600;
      margin: 0.5rem auto;
      text-decoration: underline;
      width: fit-content;
    }
    table {
      thead {
        tr {
          background: #ba68ca;
          color: white;
          padding: 0.5rem;

          font-weight: 550;

          th {
            padding: 0.4rem;
            font-size: 1.6rem;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background: #e6e6fa;
          }
          td {
            color: var(--black);
            font-size: 1.6rem;
            font-weight: 500;
            padding: 0.4rem;

            l &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              padding-left: 0.4rem;
            }
          }
        }
      }
    }
  }
}
