


.navber{
    width: 100vw;
    padding: 5%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #232F3E;

    .depertment{
        display: flex;
        align-items: center;
        column-gap: 2rem;
        position: relative;
        .main{
            height: 100%;
            width: 100%;
            padding: auto 0.5rem;
            

            .menu{
                font-size: 1.3rem;

            }
            span{
                font-size: 1rem;

            }
        }
        .toggle{
            position: absolute;
            top: 98%;
            left: 0;
            height: 0;
            width: 16rem;
            transition: 0.4s;
            background-color: #fff;
            overflow: hidden;

            &.active{
                height: fit-content;
            }

            .wrapper{
                height: 200px;

            }

        }

    }
    .navLinks{
        display: flex;
        align-items: center;
        justify-content: center;
        .links{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 1rem;
            .link{
                .top{
                    display: flex;
                    align-items: center;
                    column-gap: 0.8rem;
                    position: relative;

                    Link{
                        font-size: 1rem;

                    }
                    .arrow{
                        font-size: 1rem;

                    }

                }
                .toggle{
                    position: absolute;
                    top: 98%;
                    left: 0;
                    height: 0;
                    width: 100%;
                    transition: 0.4s;
                    background-color: #fff;
                    overflow: hidden;
                    &:hover{
                        height: fit-content;
                    }

                    .wrapper{
                        height: fit-content;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        row-gap: 1rem;

                        Link{
                            font-size: 1rem;

                        }

                    }

                }

            }

        }

    }
    .text{
        font-size: 1rem;

    }

}