.loading {
  width: 100%;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  background-color: rgba($color: #fff, $alpha: 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  &.active{
    visibility: visible;
    opacity: 1;
  }
  img {
    width: 17rem;
    height: 17rem;
    background-color: #fff;
    box-sizing: 0 0 1rem rgba($color: #000, $alpha: 0.15) ;
  }
}
