.others {
  margin-top: 55px;
  width: 100%;
  min-height: calc(100vh - 160px);
}
.App {
  width: 100%;
}

input{
padding: 0.5rem 0.8rem !important;
font-size: 1.5rem !important;
}
label{
  font-size: 1.8rem !important;

}
form{
  box-shadow: -8px 33px 52px 14px rgba(0,0,0,0.1) !important;
  background-color: #fff !important;
}
