.addSubj {
  position: fixed;
  top: 50px;
  left: -100%;
  z-index: 19;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  transition: 0.7s;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;

  &.active {
    left: 0;
  }
  .container {
    width: 75%;

    background: white;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .button {
      background: rgb(241, 82, 38);
      margin-top: 0.8rem;
      border: none;
      outline: none;
      color: white;
      font-size: 1.4rem;
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-weight: 600;
      padding: 0.4rem;
      cursor: pointer;
      cursor: pointer;
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
    .heading {
      color: var(--black);
      font-size: 1.8rem;
      font-weight: 600;
      margin-top: 2rem;
    }
    .currentSubj {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & > * {
        width: fit-content;
        color: var(--black);
        padding: 0.2rem 0.6rem;
        border-radius: 0.2rem;
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0.4rem;
        cursor: pointer;
        background: rgb(125, 243, 125);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.7rem;
        & > * {
          &:last-child {
            font-size: 1rem;
            font-weight: 600;
            color: var(--black);
          }
        }
      }
    }
    .add {
      margin: 1rem auto;
      form {
        display: flex;
        flex-direction: column;
        background: #f2f3f4;
        width: 330px;
        justify-content: center;

        padding: 2rem;
        border-radius: 0.4rem;
        label {
          font-size: 1.4rem;
          margin-bottom: 0.3rem;
          margin-top: 0.3rem;
        }

        input {
          border: 1px solid #3b444b;
          outline: none;
          margin-bottom: 1rem;
          //

          font-size: 1.3rem;
          padding: 0.3rem 0.7rem;
          border-radius: 0.3rem;

          &:last-child {
            background: #2e8b57;
            margin-top: 0.8rem;
            border: none;
            outline: none;
            color: white;
            font-size: 1.4rem;
            font-weight: 600;
            padding: 0.4rem;
            cursor: pointer;
          }
        }
        .reset {
          background: rgb(241, 82, 38);
          margin-top: 0.8rem;
          border: none;
          outline: none;
          color: white;
          font-size: 1.4rem;
          font-weight: 600;
          padding: 0.4rem;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    .container {
      width: 100%;
    }
  }
}
